################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.Example/1.ColorTable/ColorTable - Add Scroll Bar/.vs/ColorTable/v16
